body{
    background-image:url(../../images/About5.jpg);
    background-repeat:no-repeat;
    background-size: 140%;
    background-position: center;
    display:inline;
}
/*Start navbar*/
/*left side*/
.header .navbar {
	background-color:#7eafb9;
	color:#fff;
	overflow:hidden;
    text-transform:uppercase;
    height:60px;
}
.header .navbar img{ width:150px; height:85px;}
.header .navbar img,
.header .navbar h2{float:left; font-size:30px;}
.header .navbar h2 span{color:rgb(200, 208, 255);}
.header .navbar h2:hover{color:rgb(200, 208, 255);}
/*right side*/
.header .navbar ul{
	list-style:none;
	padding-left:0;
	overflow:hidden;
    float:right;
    margin-top:15px;

}
.header .navbar ul li{
	float:left;
	padding:10px;
}
.header .navbar ul li a{
	text-decoration:none;
    color:#FFF;
    font-size:20px;
    font-weight:bold;
}
.header .navbar ul li a span{color:rgb(200, 208, 255);}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{color:rgb(200, 208, 255);}
/*End navbar*/
h1,h5,
h4{    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgb(18, 15, 61);
    margin-right:30px;
}
h1{font-size:50px;}